body{
  background-color:yellowgreen;
}
h1{
  font-style: oblique;
  animation: alternate-reverse;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:whitesmoke;
  }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color:green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  img{
    border-radius: 90%;
    float: left;
    padding-bottom: 20%;

  }

  h3{
    align-content: center;
    padding: 0%;
    margin: 0%;
  }

 p{
  color:black;
  text-align: center;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
 }





h4{
  float: none;
}
p{
  font-style: normal;
}
footer{
  margin-top: 150px;
  background-color:burlywood;
  padding-top: 25%;
  padding-right: 20px;
  
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: justify;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  margin-left: 30px;
  border-top: #3B5998;
  background-color: aqua;
  
  
}
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: #3B5998;
color: white;
}

.fa-twitter {
background: #55ACEE;
color: white;
}
